.bean-eater {
    position: relative;
}

@keyframes bean-eater-1 {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-45deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes bean-eater-2 {
    0% {
        transform: rotate(180deg)
    }

    50% {
        transform: rotate(225deg)
    }

    100% {
        transform: rotate(180deg)
    }
}

.bean-eater>div:nth-child(2) {
    transform: translate(-15px, 0);
}

.bean-eater>div:nth-child(2) div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
    border-radius: 120px 120px 0 0;
    background: #f8b26a;
    animation: bean-eater-1 1s linear infinite;
    transform-origin: 60px 60px
}

.bean-eater>div:nth-child(2) div:nth-child(2) {
    animation: bean-eater-2 1s linear infinite
}

.bean-eater>div:nth-child(2) div:nth-child(3) {
    transform: rotate(-90deg);
    animation: none;
}

@keyframes bean-eater-3 {
    0% {
        transform: translate(190px, 0);
        opacity: 0
    }

    20% {
        opacity: 1
    }

    100% {
        transform: translate(70px, 0);
        opacity: 1
    }
}

.bean-eater>div:nth-child(1) {
    display: block;
}

.bean-eater>div:nth-child(1) div {
    position: absolute;
    top: 92px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e15b64;
    animation: bean-eater-3 1s linear infinite
}

.bean-eater>div:nth-child(1) div:nth-child(1) {
    animation-delay: -0.67s
}

.bean-eater>div:nth-child(1) div:nth-child(2) {
    animation-delay: -0.33s
}

.bean-eater>div:nth-child(1) div:nth-child(3) {
    animation-delay: 0s
}

.bean-eater-outer {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.bean-eater {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.bean-eater div {
    box-sizing: content-box;
}
