@import url("https://fonts.googleapis.com/css?family=Fugaz+One&display=swap");
html, body {
  margin: 0;
  background: #222;
  color: #fff;
  overflow: hidden;
}

.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
}
.nav .navsActivated {
  transition-delay: 450ms;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
  transform: translateX(75vw);
  opacity: 0;
}
.nav .bg {
  opacity: 0.8;
  position: fixed;
  background-image: url(https://res.cloudinary.com/devkosov/image/upload/v1579025656/menu-texture-1920_1_u8pg5r.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  transition: opacity 350ms;
  transition-delay: 350ms;
}
.nav .bgActivated {
  opacity: 0;
  transition: opacity 350ms;
  transition-delay: 350ms;
}
.nav .navs {
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav .navs .navList {
  display: inline-block;
  color: rgba(255, 255, 255, 0.25);
  font-family: Fugaz One;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
}
.nav .navs .navList:hover {
  cursor: pointer;
  color: #fff;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
  transform: translateY(-10px);
}

.navActivated {
  transition-delay: 450ms;
  transform: translateY(-100vh);
}

#home {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/devkosov/image/upload/c_scale,w_1920/v1579121597/gray-house-with-fireplace-surrounded-by-grass-under-white-731082_wcyvpr.jpg);
  background-size: cover;
  background-position: center;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
  transition-delay: 350ms;
  -webkit-clip-path: inset(10% 10% 10% 10%);
          clip-path: inset(10% 10% 10% 10%);
}

#about {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/devkosov/image/upload/c_scale,w_1920/v1579022718/potted-succulent-plants-on-the-bookshelf-2098691_qdaxxo.jpg);
  background-size: cover;
  background-position: center;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
  transition-delay: 350ms;
  -webkit-clip-path: inset(10% 10% 10% 10%);
          clip-path: inset(10% 10% 10% 10%);
}

#contact {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/devkosov/image/upload/c_scale,w_1920/v1579023059/woman-sitting-on-chair-using-smartphone-and-headphones-1846391_bsllyj.jpg);
  background-size: cover;
  background-position: center;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
  transition-delay: 350ms;
  -webkit-clip-path: inset(10% 10% 10% 10%);
          clip-path: inset(10% 10% 10% 10%);
}

.imagesActivated {
  -webkit-clip-path: inset(0% 0% 0% 0%) !important;
          clip-path: inset(0% 0% 0% 0%) !important;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86), font-size 1ms;
  transition-delay: 350ms;
}

.navbar {
  text-decoration: none;
}
.navbar .nav-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 32px;
  font-family: Fugaz one;
  margin: 10px 0 0 30px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 5px 0 5px;
  transition: all 350ms 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navbar .nav-link .title-background {
  z-index: -1;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #b0b2c3;
  transform: translateX(-100%);
  transition: all 350ms 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navbar .nav-link:hover {
  cursor: pointer;
  color: #fff;
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navbar .nav-link:hover .title-background {
  transform: translateX(0%);
  transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background: #4f6e9e;
}/*# sourceMappingURL=scss.css.map */