body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #344953;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    display: flex;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 3px;
    animation: jump 0.5s ease-in infinite;
}

.circle:nth-of-type(2){
    animation-delay: 0.1s;
}
.circle:nth-of-type(3){
    animation-delay: 0.2s;
}
.circle:nth-of-type(4){
    animation-delay: 0.3s;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}