
/* This defines the shape of the square used for animation. It can be replaced with something else if need be.
*/

body {
    min-height: 1000vh;
    background: beige;
    margin: 0px;
    margin-top: 0x;
}

.square {
    position: relative;
    left: 600px;
    top: 900px;
    bottom: 300px;
    width: 200px;
    height: 200px;
    background: greenyellow;
    border-radius: 10px;
    opacity: 1;
    animation: square 5s;
    
}

/* This section is the actual movement of the Box rotate. */

@media (prefers-reduced-motion: no-preference) {
    .square {
      animation-duration: 3s;
      animation-iteration-count: infinite;
      transform: rotate(180deg);
    }
  }

@keyframes square {
    0%   { transform: rotate(60deg), animation-iteration-count 3; 
    }
    50%  { transform: rotate(50deg); 
    }
    100% { transform: rotate(90deg); 
    }
}