@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(bg.jpg);
}
.container{
    background: #f5f5f5;
    margin: 21px 41px 13px 52px;
    border-radius: 9px;
    text-align: center;
    border: 2px solid transparent;
    width: 56%;
    opacity: 0.4;
    height: 18rem;
    margin-top: 12%;
    margin-left: 20%;
}
.text-center{
    color: black;
    font-size: 35px;
   margin-left: 1%;
    margin-top: 13%;
    font-family: 'poppins', sans-serif;
}
.text-center span{
    color: crimson;
    text-transform: capitalize;
}