@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./bg.jpg);
    overflow:hidden;
}
.container{
    background: #f5f5f5;
    margin: 21px 41px 13px 52px;
    border-radius: 9px;
    text-align: center;
    border: 2px solid transparent;
    width: 56%;
    opacity: 0.4;
    height: 18rem;
    margin-top: 12%;
    margin-left: 20%;
}
.text-center{
    color: black;
    font-size: 35px;
   margin-left: 1%;
    margin-top: 13%;
    font-family: 'poppins', sans-serif;
}
.text-center span{
    color: crimson;
    text-transform: capitalize;
}
.text-center span:before{
    content: "";
    display:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:#010718;
    border-left:2px solid crimson;
    animation:animate 4s steps(12) infinite;
}
/*keyframes start*/

@keyframes animate{
    40%,60%{
        left:100%;
    }
    100%{
        left:0%;
    }
}
        
