body
{
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #444;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .card {
    position: relative;

}
 .container .card .face{
    width: 300px;
    height: 200px;
    transition: 4s;

 }
 .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:

inset 0 0 60px whitesmoke, 
inset 20px 0 80px #f0f,

inset -20px 0 80px #0ff,

inset 20px 0 300px #f0f,

inset -20px 0 300px #0ff,

0 0 50px #fff,

-10px 0 80px #f0f
, 18px 0 80px
 }
 .container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
 }
 .container .card:hover .face.face1 .content{
    opacity: 1;
 }