
/* This defines the shape of the square used for animation. It can be replaced with something else if need be.
*/

body {
    margin-top: 100px;
}

.square {
    width: 300px;
    height: 300px;
    background: aquamarine;
    border-radius: 10px;
    opacity: 0;
    transform: scale(1.3);
}
/* This section is the actual movement of the Box rotate. */

.square-transition {
    opacity: 1;
    transform: rotate 1.5turn;
}

@keyframes square-transition {
    
}

@media (prefers-reduced-motion: no-preference) {
    .square-transition {
        transition-delay: 0ms;
        transition: opacity 2.0s ease, transform 1.5s ease;
        animation: rotate 1.5turn;
    }
}
        

